<center><p float="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Netflix_logo.svg"400" height="200"/>
</p></center>

<h1><center><font size=10>Netflix Userbase Dataset</center></font></h1>
<h1><center>Exploratory Data Analysis - Netflix Viewership Case Study</center></h1>

<p>This data analysis delves into Netflix viewership patterns across various global regions. By examining this data, we aim to uncover insights into:
</p>
<ol>
    <li>
        <p>Understand Viewership Base/Regional Preferences: Identify content genres, languages, or formats that resonate most strongly with audiences in different parts of the world.</p>
    </li>
    <li>
        <p>Subscription Trends: Analyze subscriber base distribution and growth patterns across regions.</p>
    </li>
    <li>
        <p>Regional Preferences: Identify content genres, languages, or formats that resonate most strongly with audiences in different parts of the world.</p>
    </li>
    <li>
        <p>Content Consumption Habits: Understand variations in viewing behavior, such as average watch time or preferred device usage, across geographic locations.</p>
    </li>
</ol>

In [1]:
# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd
import requests
from pathlib import Path

# Libraries to help with data visualization
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [7]:
# Study data files
netflix_userbase_path = "data/netflix_userbase.csv"
netflix_genre_path = "data/netflix_genre.csv"

netflix_userbase_data = pd.read_csv(netflix_userbase_path)
netflix_genre_data = pd.read_csv(netflix_genre_path)


# Read the CSV into a Pandas DataFrame
netflixDataFrame = pd.merge(netflix_userbase_data, netflix_genre_data, how='outer', on='Country')
# Display the data table for preview
netflixDataFrame.head()

KeyError: 'fullouter'

In [4]:
# Print the last five rows of data to the screen
netflix_df.tail()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

In [7]:
# Calculate the total count per country
per_country_counts_df = netflix_df.groupby('Country')['User ID'].count()

# Display results
per_country_counts_df

Country
Australia         183
Brazil            183
Canada            317
France            183
Germany           183
Italy             183
Mexico            183
Spain             451
United Kingdom    183
United States     451
Name: User ID, dtype: int64

In [10]:
# Calculate the total count per subscription type
per_subs_counts_df = netflix_df.groupby('Subscription Type')['User ID'].count()

# Display results
per_subs_counts_df

Subscription Type
Basic       999
Premium     733
Standard    768
Name: User ID, dtype: int64

In [8]:
# Check the statistical summary of the data
netflix_df.describe().T

,count,mean,std,min,25%,50%,75%,max
User ID,2500.0,1250.5000,721.832160,1.0,625.75,1250.5,1875.25,2500.0
Monthly Revenue,2500.0,12.5084,1.686851,10.0,11.00,12.0,14.00,15.0
Age,2500.0,38.7956,7.171778,26.0,32.00,39.0,45.00,51.0