<center><p float="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Netflix_logo.svg"400" height="200"/>
</p></center>

<h1><center><font size=10>Netflix Userbase Dataset</center></font></h1>
<h1><center>Exploratory Data Analysis - Netflix Viewership Case Study</center></h1>

<p>This data analysis delves into Netflix viewership patterns across various global regions. By examining this data, we aim to uncover insights into:
</p>
<ol>
    <li>
        <p>Understand Viewership Base/Regional Preferences: Identify content genres, languages, or formats that resonate most strongly with audiences in different parts of the world.</p>
    </li>
    <li>
        <p>Subscription Trends: Analyze subscriber base distribution and growth patterns across regions.</p>
    </li>
    <li>
        <p>Regional Preferences: Identify content genres, languages, or formats that resonate most strongly with audiences in different parts of the world.</p>
    </li>
    <li>
        <p>Content Consumption Habits: Understand variations in viewing behavior, such as average watch time or preferred device usage, across geographic locations.</p>
    </li>
</ol>

In [2]:
# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd
import requests
from pathlib import Path

# Libraries to help with data visualization
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [4]:
# Study data files
netflix_userbase_path = "data/netflix_userbase.csv"
netflix_genre_path = "data/netflix_genre.csv"

netflix_userbase_data = pd.read_csv(netflix_userbase_path)
netflix_genre_data = pd.read_csv(netflix_genre_path)


# Read the CSV into a Pandas DataFrame
netflixDataFrame = pd.merge(netflix_userbase_data, netflix_genre_data, how='outer', on='Country')

# Display the data table for preview
netflixDataFrame.head()

,User ID,Subscription Type,Monthly Revenue,start_date_x,Last Payment Date,Country,Age,Gender,Device,Plan Duration,show_id,type,title,director,start_date_y,release_year,rating,duration,listed_in
0,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,NaN,NaN,s141,Movie,"El patrón, radiografía de un crimen",Sebastián Schindel,9/1/2021,2014,TV-MA,100 min,"Dramas, International Movies, Thrillers"
1,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,NaN,NaN,s304,Movie,Esperando la carroza,Alejandro Doria,8/5/2021,1985,TV-MA,95 min,"Comedies, Cult Movies, International Movies"
2,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,NaN,NaN,s306,Movie,Tango Feroz,Marcelo Piñeyro,8/5/2021,1993,TV-MA,124 min,"Classic Movies, Dramas, International Movies"
3,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,NaN,NaN,s770,Movie,From Stress to Happiness,"Alejandro De Grazia, Juan Stadler",6/3/2021,2020,TV-G,58 min,"Documentaries, International Movies"
4,NaN,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,NaN,NaN,s839,Movie,Soy Rada: Serendipity,Pablo Faro,5/27/2021,2021,TV-MA,70 min,Stand-Up Comedy

In [6]:
# Print the last five rows of data to the screen
netflixDataFrame.tail()

,User ID,Subscription Type,Monthly Revenue,start_date_x,Last Payment Date,Country,Age,Gender,Device,Plan Duration,show_id,type,title,director,start_date_y,release_year,rating,duration,listed_in
1882023,NaN,NaN,NaN,NaN,NaN,Vietnam,NaN,NaN,NaN,NaN,s6528,Movie,Conjuring Spirit,Van M. Pham,8/28/2018,2014,TV-MA,112 min,"Horror Movies, International Movies, Thrillers"
1882024,NaN,NaN,NaN,NaN,NaN,Vietnam,NaN,NaN,NaN,NaN,s6817,Movie,Furie,Le Van Kiet,9/25/2019,2019,TV-MA,97 min,"Action & Adventure, Dramas, International Movies"
1882025,NaN,NaN,NaN,NaN,NaN,Vietnam,NaN,NaN,NaN,NaN,s7115,Movie,Jackpot,Dustin Nguyen,10/6/2018,2015,TV-14,92 min,"Comedies, Dramas, International Movies"
1882026,NaN,NaN,NaN,NaN,NaN,West Germany,NaN,NaN,NaN,NaN,s5613,Movie,Hitler - A Career,"Joachim Fest, Christian Herrendoerfer",2/10/2017,1977,TV-MA,150 min,"Documentaries, International Movies"
1882027,NaN,NaN,NaN,NaN,NaN,Zimbabwe,NaN,NaN,NaN,NaN,s2447,Movie,Cook Off,Tomas Brickhill,6/1/2020,2017,TV-G,100 min,"Comedies, International Movies, Romantic Movies"

In [8]:
# Calculate the total count per country
per_country_counts_df = netflixDataFrame.groupby('Country')['Country'].count()

# Display results
per_country_counts_df

Country
Argentina          76
Australia       20862
Austria             9
Bangladesh          3
Belarus             1
                ...
Uruguay             9
Venezuela           2
Vietnam             7
West Germany        1
Zimbabwe            1
Name: Country, Length: 86, dtype: int64

In [13]:
# Calculate the count of genres
per_genre_counts_df = netflixDataFrame.groupby('listed_in')['listed_in'].count()

# Display results
per_genre_counts_df

listed_in
Action & Adventure                                              45456
Action & Adventure, Anime Features                                  1
Action & Adventure, Anime Features, Children & Family Movies      454
Action & Adventure, Anime Features, Classic Movies                  2
Action & Adventure, Anime Features, Horror Movies                   1
                                                                ...
TV Horror, TV Mysteries, Teen TV Shows                            451
TV Horror, Teen TV Shows                                          902
TV Sci-Fi & Fantasy, TV Thrillers                                 317
TV Shows                                                         2716
Thrillers                                                       25103
Name: listed_in, Length: 513, dtype: int64